@use './color' as *;
@use './typography' as *;
@use './resets' as *;
@use './mixins' as *;

html {
  color: var(--secondary-400);
}

body {
  background-color: var(--primary-400);
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
