@use '../../../styles/mixins' as *;

.btn {
  @include button-default;

  text-transform: uppercase;
  background-color: var(--primary-400);
  border: 2px solid var(--accent-400);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;

  &:hover {
    background-color: var(--accent-400);
    color: var(--primary-400);
  }
}

.profile {
  color: var(--secondary-400);
  font-size: 2.5rem !important;
  cursor: pointer;
  margin: 0.4rem 0;

  &.active {
    color: var(--accent-400);
  }

  &:hover {
    color: var(--accent-400);
  }
}

.photo-url {
  border-radius: 100%;
  width: 2.5rem;
  cursor: pointer;
  margin: 0.4rem 0;
}
