.hero {
  // height: 50vh;
  // height: 50dvh;
}

.hero__container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.hero__text {
  margin: 5rem 0;
}

.hero__heading {
  margin-bottom: 1rem;
  font-size: 3rem;

  & span {
    color: var(--accent-400);
  }
}

.hero__subtitle {
  text-align: justify;
  margin-top: 1rem;
}

.hero__img {
  width: 50%;
  object-fit: fill;
}
