@use '../../../styles/mixins.scss' as *;

.card {
  @include card;

  background-color: var(--primary-400);
  padding: 1.5rem;
  margin: 3.5rem 1rem;
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;

  @media screen and (min-width: 500px) {
    margin: 3.5rem auto;
    padding: 3rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  // color: var(--secondary-700);
  padding: 0.5rem 2rem;
}

.input {
  @include input-default;
  padding: 0.75rem;
  margin-inline: auto;
  width: 90%;
}

.submit-btn {
  @include button-default;
  margin-inline: auto;
  padding: 0.75rem 3rem;
  border-radius: 0.5rem;
  border: 2px solid var(--accent-400);
  background-color: var(--primary-400);
  color: var(--accent-400);

  &:hover {
    background-color: var(--accent-400);
    color: var(--primary-400);
  }
}

.signup-link {
  text-align: center;
  margin-top: 1.5rem;

  & a {
    text-decoration: underline;

    &:active,
    &:visited {
      color: var(--accent-400);
    }

    &:hover {
      color: var(--accent-600);
    }
  }
}

.error-text {
  text-align: center;
  color: tomato;
}
